<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload ="true"
	  internalLogToConsole ="false" >

	<variable name="logdirectory" value="C:\logs" />
	<targets async="true">
		<target name="File" xsi:type="File"
				fileName="${logdirectory}/CCFCleanWSTemplate.txt"
				layout="${shortdate} ${time} ${level} ${message}"
				archiveFileName="${logdirectory}/archives/log/log.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				autoFlush="true"/>

		<target xsi:type="ColoredConsole"
				name="consoleTarget"
				layout="${shortdate} ${time} ${level} ${message}" />
	</targets>
	<rules>
		<!--Log to console-->
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" />
		<!--Log to file-->
		<logger name="*" minlevel="Trace"  writeTo="File" />
	</rules>
</nlog>